<body>
        <div class="container">
        <div class="row">
            <h2>Project Management System</h2>
        </div>
        
        <div class="block">
          <div class="row">
            <div class="span4">
                <img class="img-left" src="assets/images/repository.jpg">
                <p>Project Management and Repository System is a web-application that helps Admins, project Mentors and project group members to collaborate and meet goals on time while managing resources and evaluating final statics.</p>
                <p><strong>Admin</strong> can add new department, mentors and students. He also approves projects groups, assigns mentors to project and track project status.</p>
                <p><strong>Project Mentor</strong> view the list of projects under him. He also track project status, verifies docs uploaded by prject group at various stages during project life cycle.</p>
                <p><strong>Students </strong>create project groups. Once the project group is apporved by the admin, they can upload documents like SRS etc. at various stages of project.</p>
                <p>Project management and Repository System is also referred to as Task Management Software.</p>
            </div>
         </div>
         
        </div>
        
    </div>	<script type="text/javascript">
            </script>
    
    
    </body>