<h2 style="text-align: center">Mentor List</h2>
<!-----Creating Mentor list table----->
<div *ngIf="flagTable">
    <table class="table">
            <tr>
                    <th>S.No</th>
                    <th>FirstName
                    </th>
                    <th>LastName
                    </th>
                    <th>Email
                    </th>
                    <th>Contact
                    </th>
                    <th>MentorStatus
                    </th>
                    <th>Edit</th>
            </tr>
            <tr *ngIf="flagerror">
                <td colspan="5" style="text-align: center">{{error}}</td>
                </tr>
            <tr *ngFor="let s of list;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{s.firstName}}</td>
                    <td>{{s.lastName}}</td>
                    <td>{{s.email}}</td>
                    <td>{{s.contact}}</td>
                    <td>{{s.status}}</td>
                    <td><a routerLink="/updatementor">Edit</a></td>
            </tr>

        </table>
</div>


<!--link to add new mentor-->

<a routerLink="/mentor-register" style="color:dodgerblue">Add new Mentor</a>