



<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn; padding-top: 50px">

    <div class="row d-flex justify-content-center">

      <!--Grid column-->
        <div class="col-xl-2 col-lg-6 mb-4" routerLink="/projectRepository">
          <a  role="button" >      
          <div class="card">
            <div class="card-body text-center">
              <h3 class="mt-0 mb-1 mb-2">Project List</h3>
              <img src="assets/images/project.png">
              <!--<mat-icon>list</mat-icon>-->
              <br>
              <small>View Projects</small>
            </div>
          </div>
          </a>
        </div>
      <!--Grid column-->
        <div class="col-xl-2 col-lg-6 mb-4" routerLink="/mentorlist">
          <a  role="button" >      
          <div class="card">
            <div class="card-body text-center">
              <h3 class="mt-0 mb-1 mb-2">Mentor List</h3>
              <img src="assets/images/mentor1.png">
              <!--<mat-icon>school</mat-icon>-->
              <br>
              <small>View/Add Mentors</small>
            </div>
          </div>
          </a>
        </div>

      <!--Grid column-->
      <div class="col-xl-2 col-lg-6 mb-4" routerLink="/student-list">
        <a  role="button" >      
        <div class="card">
          <div class="card-body text-center">
            <h3 class="mt-0 mb-1 mb-2">Student List</h3>
            <img src="assets/images/student.png">
            <!--<mat-icon>group</mat-icon>-->
            <br>
            <small>View/Add Students</small>
          </div>
        </div>
        </a>
      </div>
    </div>

  </section>
