<h2 style="text-align: center">{{contentTitle}}</h2>
<div *ngIf="flagprojectable">
  <table id="project">
    <tr>
      <th>S.No</th>
      <th>Project Title</th>
      <th>Project Description</th>
      <th>Project Technology</th>
      <th>Software Requirements</th>
      <th>Hardware Requirements</th>
      <th>Platform</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let p of projectList">
      <td>{{p.SNo}}</td>
      <td>{{p.projectTitle}}</td>
      <td>{{p.projectDescription}}</td>
      <td>{{p.projectTechnology}}</td>
      <td>{{p.projectSWRequire}}</td>
      <td>{{p.projectHWRequire}}</td>
      <td>{{p.projectPlatform}}</td>
      <td><a style="color:dodgerblue"><button (click)="onUpdate()">ViewProjectStudent</button></a></td>
    </tr>
  </table>
</div>
<div *ngIf="flagstudentTable">
  <table id="student">
    <tr>
      <th>S.No</th>
      <th>PRN</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Course</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let s of studentList; let i=index">
      <td>{{i+1}}</td>
      <td>{{s.firstName}}</td>
      <td>{{s.lastName}}</td>
      <td>{{s.email}}</td>
      <td>{{s.contact}}</td>
      <td>{{s.course}}</td>
      <td></td>
    </tr>
  </table>
</div>