<html>
<body>

<h1 style="text-align: center; font-size: 32px;padding:40px;font-family:Verdana, Geneva, Tahoma, sans-serif "><u> Project List</u></h1>
    <table id="customers">
      <tr>
        <th>S.No</th>
        <th>Project Title</th>
        <th>Project Description</th>
        <th>Project Technology</th>
        <th>Software Requirements</th>
        <th>Hardware Requirements</th>
      </tr>
      <tr>
        <td>1</td>
        <td>java</td>
        <td>java</td>
        <td>java</td>
        <td>pd</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Maria Anders</td>
          <td>java</td>
          <td>java</td>
          <td>reactjs</td>
          <td>pd</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Maria Anders</td>
          <td>java</td>
          <td>java</td>
          <td>nodejs</td>
          <td>pd</td>
      </tr>
      <tr>
          <td>4</td>
          <td>Maria Anders</td>
          <td>java</td>
          <td>java</td>
          <td>angular</td>
          <td>pd</td>
      </tr>
      <tr>
          <td>5</td>
          <td>Maria Anders</td>
          <td>java</td>
          <td>java</td>
          <td>c++</td>
          <td>pd</td>
      </tr>

    </table>

    </body>
    </html>
