<section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

    <div class="row d-flex justify-content-center">

      <!--Grid column-->
        <div class="col-xl-2 col-lg-6 mb-4" routerLink="/studentprojInfo">
          <a  role="button" >      
          <div class="card">
            <div class="card-body text-center">
              <h4 class="mt-0 mb-1 mb-2">Project Details</h4>

              <!--<img src="https://mdbootstrap.com/img/logo/jquery.png" class="my-3" alt="">-->
              <img src="assets/images/project.png">
              <br>
              <small>View Projects</small>
            </div>
          </div>
          </a>
        </div>


           <!--Grid column-->
           <div class="col-xl-2 col-lg-6 mb-4" routerLink="/projectregister">
            <a  role="button" >      
            <div class="card">
              <div class="card-body text-center">
                <h4 class="mt-0 mb-1 mb-2">Add Project</h4>
  
                <!--<img src="https://mdbootstrap.com/img/logo/jquery.png" class="my-3" alt="">-->
                <img src="assets/images/mentor1.png">
                <br>
                <small>Add project</small>
              </div>
            </div>
            </a>
          </div>

        </div>
     
  </section>
