<mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
      <a href="#"><img src="../../../assets/images/111.png" height="100px"/></a>
      <span>Project Management and Repository System</span>
      <span style="padding-left: 40%"></span>
      <a mat-button routerLink="/"><mat-icon>home</mat-icon>Home</a>
      <a mat-button routerLink="/aboutus" >About Us</a>
      <a mat-button routerLink="/{{loginLink}}" ><mat-icon>perm_identity</mat-icon>{{loginMsg}}</a>
    </mat-toolbar-row>
  </mat-toolbar>
  