<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <a routerLink="/navigation" (click)="opened=!opened"><mat-icon>menu</mat-icon></a>
    <a href="#"><img src="../../../assets/images/111.png" height="100px"/></a>
    <span>Project Management and Repository System</span>
    <a mat-button routerLink="/" style="position: absolute; right: 0;padding-right: 200px;font-size:15px"><mat-icon>home</mat-icon>Home</a>
    <a mat-button routerLink="/aboutus" style="position: absolute; right: 0;padding-right: 120px;font-size:15px">About Us</a>
    <a mat-button routerLink="/login" style="position: absolute; right: 0;padding-right: 40px;font-size:15px"><mat-icon>perm_identity</mat-icon>Login</a>

  </mat-toolbar-row>
</mat-toolbar>
