<html>
<body>
    <input type="button" value="Student List" style="color:dodgerblue" class="btn" (click)="getStudentList()"/>

<h1 style="text-align: center; font-size: 32px;padding:40px;font-family:Verdana, Geneva, Tahoma, sans-serif "><u> Project List</u></h1>
{{error}}
 <div *ngIf="flagTable">
    <table id="customers">
      <tr>
        <th>S.No</th>
        <th>Project Title</th>
        <th>Project Description</th>
        <th>Project Technology</th>
        <th>Software Requirements</th>
        <th>Hardware Requirements</th>
        <th></th>
      </tr>
      <tr *ngFor="let v of projectList">
        <td>{{v.SNo}}</td>
        <td>{{v.projectTitle}}</td>
        <td>{{v.projectDescription}}</td>
        <td>{{v.projectTechnology}}</td>
        <td>{{v.softwareRequirements}}</td>
        <td>{{v.hardwareRequirements}}</td>
        <td><a style="color:dodgerblue"><button (click)="onUpdate()">ViewProjectStudent</button></a></td>
</tr>

    </table>
    </div>

    </body>
    </html>

    <div *ngIf="flagstudentTable">
    
        <table id="customers">
            <tr>
              
              <th>FirstName</th>
              <th>LastName </th>
              <th>Email</th>
              <th>Contact</th>
              <th>Course</th>
            
            </tr>
            <tr *ngFor="let p of studentview">
              <td>{{p.FirstName}}</td>
              <td>{{p.LastName}}</td>
              <td>{{p.Email}}</td>
              <td>{{p.Contact}}</td>
              <td>{{p.Course}}</td>
              
      </tr>
    
  </table>
</div>