<div>
    <form [formGroup]="ProjectForm" autocomplete="off" novalidate (ngSubmit)="createProject(projectForm.value)"
        layout-align="center">

        <mat-card class="project">
            <mat-card-header style="justify-content: center; padding:2%">
                <mat-card-title><b>Please Enter Project Details</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Project Title" formControlName="projectTitle">
                    <mat-error *ngIf="hasError('projectTitle', 'required')">Project title is required
                    </mat-error>
                    <mat-error *ngIf="hasError('projectTitle', 'maxlength')">You have more than 100
                        characters
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-content>
                <mat-form-field>
                    <textarea matInput placeholder="Project Description" formControlName="projectdesc"></textarea>
                    <mat-error *ngIf="hasError('projectdesc', 'required')">Project Description is required
                </mat-error>               
                    <mat-error *ngIf="hasError('projectdesc', 'maxlength')">You have more than 500
                                                characters
                                        </mat-error>
                                </mat-form-field>
                        </mat-card-content>

                        <mat-card-content>
                                <mat-form-field>
                                        <textarea matInput placeholder="Project Technology" formControlName="ptechnology"></textarea>
                                        <mat-error *ngIf="hasError('ptechnology', 'required')">Project Technology required
                                        </mat-error>
                                        <mat-error *ngIf="hasError('ptechnology', 'maxlength')">You have more than 200 characters 
                                        </mat-error>
                                </mat-form-field>
                        </mat-card-content>
                        <mat-card-content>
                                <mat-form-field>
                                        <textarea matInput placeholder="Hardware Requirement" formControlName="hw"></textarea>
                                      
                                </mat-form-field>
                        </mat-card-content>
                        <mat-card-content>
                            <mat-form-field>
                                    <textarea matInput placeholder="Software Requirement" formControlName="sw"></textarea>
                                    

                            </mat-form-field>
                        </mat-card-content>
                        <mat-card-actions>
                                <button mat-raised-button (click)="OnSubmit()" color="primary">Submit</button>
                               
                        </mat-card-actions>
                </mat-card>

        </form>
</div>