<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
      <mat-icon style="padding-right: 40px" (click)="toggleSidenav()">menu</mat-icon>
    <span>Project Management and Repository System</span>
    

    <a mat-button routerLink="/login" style="position: absolute; right: 0;padding-right: 180px;font-size:15px">Home</a>
    <a mat-button routerLink="/aboutus" style="position: absolute; right: 0;padding-right: 100px;font-size:15px">About Us</a>
    <a mat-button routerLink="/login" style="position: absolute; right: 0;padding-right: 40px;font-size:15px"><mat-icon>perm_identity</mat-icon></a>

  </mat-toolbar-row>
</mat-toolbar>
