
<mat-card  class="Register-card">
        <mat-card-header>
            <mat-card-title>Register Student Details</mat-card-title>
        </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                    <input  matInput  placeholder="First name"   name="firstname"  required>
                    <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-content>
                        <mat-form-field>
                        <input  matInput  placeholder="Last name"   name="lastname"  required>
                        </mat-form-field>
                </mat-card-content>
                 <mat-card-content>
                            <mat-form-field>
                            <input  matInput  placeholder="phone No"   name="contact"  required>
                            </mat-form-field>
                        </mat-card-content>
                <mat-card-content>
                        <mat-form-field>
                                <input matInput type="text" placeholder="Owner's name" formControlName="name" id="name">
                                <mat-hint >Not more then 60 characters long.</mat-hint>
                                <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                                <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
                              </mat-form-field>
                </mat-card-content>
          
           
            <mat-card-actions>
                    <button  mat-raised-button (click)="register()"  color="primary">Register</button>
                </mat-card-actions>
</mat-card>