<html>

<body>
  <h2 style="text-align: center">Student Project Information</h2>
  <div *ngIf="flagTable">
    <table id="student">
      <tr>
        <th>S.No</th>
        <th>Project Title</th>
        <th>Created</th>
        <th>Project Upload</th>
      </tr>
      <tr *ngFor="let s of slist; let i=index">
        <td>{{i+1}}</td>
        <td>{{s.projectTitle}}</td>
        <td>{{s.projectCreated}}</td>
        <td><a style="color:dodgerblue"><button (click)="uploaddoc()">ProjectUpload</button></a></td>
      </tr>

    </table>
  </div>